/* gabriel/katbiznis
 *
 * /src/sass/styles.scss - Main scss
 *
 *
 * coded by gabriel!
 *
 * started at 09/02/2017
 */
html{
    background-color: yellow;

    body{
        display: flex;
        color: red;

    }
}
