doctype html
html( lang="fr")
    head
        meta( charset="utf-8" )/

        title Ma super carte de visite

        link( rel="stylesheet", href="assets/css/styles.css" )/

    body
        .wrapper
            section.front
                h1.front__title Gabriel Martinez
                h2.front__subtitle Front-End Developer

            section.back
                h1.back__title Gabriel Martinez
                p.back__intro I help you build an online pressence by ussing tools such as HTMl, CSS and Javascript. I also do my best to apply accesibility so that your visitors get a happy trip.

                p.back__abylities Design and Web development

                .information
                    span.information__logo

                    a.information__link( href="http://www.martinz.be" ) Martinez Gabriel

                    a.information__link( href="tel:0032530455338" ) +32 (0)530 45 53 38

                    a.information__link( href="mailto:gabrieletudes@gmail.com" ) gabrieletudes@gmail.com

                    a.information__link( href="http://www.martinz.be" ) www.martinz.be
            a.flip Flip the card
        script( src="assets/js/script.js" )
